@page
@model IndexModel
@{
    ViewData["Title"] = "Sistem de Gestiune a Rezervărilor la Restaurante";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 mb-4">Bine ai venit!</h1>
    </div>
</div>
<p>

<div class="container">
    <div class="row">
            <div class="col-md-6">
                <section class="mb-4">
                    <h2>Descoperă Restaurantele Noastre</h2>
                    <p>Ofertăm o varietate de restaurante cu bucate delicioase. Alege locația potrivită pentru tine!</p>
                    <a asp-page="/Restaurante/Index" class="btn btn-info">Vezi Restaurantele</a>
                </section>
            </div>
        <div class="col-md-6">
            <section class="mb-4">
                <h2>Rezervări</h2>
                <p>Planifica-ti iesirile cu prietenii din timp!Nu ai încă o rezervare? Fă una acum!</p>
                <a asp-page="/Rezervari/Create" class="btn btn-primary">Fă o Rezervare</a>
            </section>
        </div>
            <div class="col-md-6" style="align-content: center;">
                <section class="mb-4" >
                        <h2>Recenzii</h2>
                    <p>Vezi toate recenziile celor mai bune restaurante din oras.</p>
                    <a asp-page="/Recenzii/Index" class="btn btn-primary">Vezi Recenziile</a>
                </section>
            </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section style="text-align: center;">
                <h2>Contactează-ne</h2>
                <p>Ai întrebări sau feedback? Contactează-ne prin email sau telefon.</p>
                <p>Email: <a href="mailto:info@celemaibunerestaurante.com">info@celemaibunerestaurante.com</a></p>
                <p>Telefon: 075-734-974</p>
            </section>
        </div>
    </div>
</div>
